* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  padding-top: 80px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #2781C2;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.header {
  background-color: #FAD44A;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
  min-height: 80px;
  position: fixed;
  top: 0;
}

.header__logo img {
  height: 70px;
  margin-top: 5px;
}

.header__menu {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  float: right;
  margin: 20px;
  color: #333;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.header__menu:hover {
  -webkit-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
}

.header__nav {
  width: 100%;
  display: none;
}

@media (max-width: 992px) {
  .header__nav.show {
    background-color: #FAD44A;
    display: inline-block;
    width: 100%;
  }
}

.header__nav ul {
  list-style: none;
}

.header__nav ul li {
  display: block;
  text-align: right;
  margin: 30px;
  font-weight: 700;
}

.header__nav ul li a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.header__nav ul li a i {
  margin-right: 5px;
  color: gray;
}

.header__nav ul li a:hover {
  color: #2781C2;
}

.header__nav ul li a:hover i {
  color: #2781C2;
}

@media (min-width: 992px) {
  .header__menu {
    display: none;
  }
  .header__nav {
    float: right;
    display: block;
    width: auto;
  }
  .header__nav ul li {
    display: inline-block;
    width: auto;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

.conteudo {
  margin: 20px auto;
}

.footer {
  background-color: #FAD44A;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 20px;
  font-size: .8rem;
}

.footer .redes-sociais {
  font-size: 1.2rem;
  list-style: none;
  margin-top: 10px;
}

.footer .redes-sociais li {
  display: inline-block;
  margin: 0 5px;
}

.text-center {
  text-align: center;
}

.btn-primario {
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #FAD44A;
  color: #333;
  border-radius: 5px;
  margin: 30px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-primario:hover {
  background-color: #2781C2;
  color: #FAD44A;
}

.banner img {
  max-width: 100%;
}

.grid-veiculos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.grid-veiculos img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.grid-veiculos__coluna {
  text-align: center;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  margin: 10px;
}

@media (min-width: 576px) {
  .grid-veiculos {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 992px) {
  .grid-veiculos {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
}

.sobre {
  margin: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sobre__img {
  width: 100%;
  min-height: 250px;
  background-image: url(../img/loja.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.sobre__texto {
  padding: 40px;
}

.sobre__texto p {
  margin: 20px;
}

@media (min-width: 768px) {
  .sobre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sobre__img {
    border-radius: 10px 0 0 10px;
    min-width: 300px;
    min-height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */