$font: 'Raleway', Arial, sans-serif;

//colors
$bg: #FAD44A;
$text-color: #333;
$link-color: #2781C2;

// sizes
$header-height: 80px;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;