$font: 'Raleway', Arial, sans-serif;

//colors
$bg: #FAD44A;
$text-color: #333;
$border-color: #eee;
$link-color: #2781C2;
$destaque-color: #04406b;
$preco-color: rgb(170, 9, 9);

// sizes
$header-height: 80px;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;